/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face { 
	src:url("../assets/Alpaca54.TTF"); 
	fontFamily: "Alpaca";
	advancedAntiAliasing: true; 
	embedAsCFF: true; 
	unicode-range:
		U+0020-007E, U+00A1-00FF, U+2013-201e, U+2022-203c, U+20AC-20AC, U+2122-2122, U+25AA-25AA, U+00AD-00AD,  
		U+2011-2011, U+00A0-00A0, U+0153-0153;
}

s|Application {	
	color:#333333;
	background-color:#F6F6F6;
	line-height:20;
}

#siteTitle { font-size:60; color:#356AA0; font-family: "Alpaca"; padding-top:20;}
#camSizeLabel { font-size:12; }

#recordButton {
	font-size: 25;
	color:#880000;
}

#timerLabel { font-size: 30; fontFamily: "Alpaca"; }

#caption { color:#c09554; fontSize:8;}

#frameId { fontSize:120; color:#d6912c; }

#labelId { color:#c09554; fontSize:20; }